<a href="/">homepage</a>
<a href="/profile">profile</a>


<form action="/mainSite" method="post" enctype="multipart/form-data">

<h1>update and change restaurant page</h1>


          <label>description</label>
          <input type="text" name="description">
          <label>image</label>
          <input type ="file" name ="Photo">
          <input type="submit" value="SAVE">
</form>



homepage Info
{{#if Restaurant }}
{{Restaurant.username}}
{{Restaurant.description}}
<img src="{{Restaurant.image}}" />


{{/if}}