<form action="/mainSite" method="post" enctype="multipart/form-data">
          <label>name restaurant:</label>
          <input type="text" name="nameRestaurant">
          <label>description</label>
          <input type="text" name="description">
          <label>image</label>
          <input type ="file" name ="Photo">
          <input type="submit" value="SAVE">
</form>



homepage Info
