

Add new item
<form action="/addItems" method="post" enctype="multipart/form-data">
<select name="item">
			<option value="appetizer"  name ="appetizer" >appetizer</option>
			<option value="mainDish"   name ="mainDish"  >main dish</option>
			<option value="desserts"   name ="desserts"  >desserts</option>
      <option value="beverages"  name ="beverages" >beverages</option>
</select>
<label>name</label>
<input type="text" name="name">
<label>description</label>
<input type="text" name="description">
<label>price</label>
<input type="text" name="price">
<label>image</label>
<input type ="file" name ="Photo">
<input type="submit" value="SAVE">
</form>

<button><a href="##">Edit Mene</a></button>


