<a href="/">homepage</a>
<a href="/profile">profile</a>



Add new item
<form action="/addItems" method="post" enctype="multipart/form-data">
<select name="itemType">
			<option value="Appetizer"  name ="Appetizer" >appetizer</option>
			<option value="Main dish"   name ="Main dish"  >main dish</option>
			<option value="Desserts"   name ="Desserts"  >desserts</option>
      <option value="Beverages"  name ="Beverages" >beverages</option>
</select>
<label>name</label>
<input type="text" name="name">
<label>description</label>
<input type="text" name="description">
<label>price</label>
<input type="text" name="price">
<label>image</label>
<input type ="file" name ="Photo">
<input type="submit" value="SAVE">
</form>


<p><a href="/logout">Log out</a></p>

<a href="/allMenu">All Menu</a>
<a href="/appetizer">Appetizer</a>
<a href="/mainDish">Main dish</a>
<a href="/desserts">Desserts</a>
<a href="/beverages">Beverages</a>

<button><a href="/">homepage</a></button>


