
<link rel="stylesheet" href="../../../stylesheets/signup.css" />
<br>
<div > <a class="home" href="/">home</a></div>
 

<div class="boxSignup">

      
        <h2>Signup</h2>

        <form action="/signup" method="POST" id="form-container">
          <label for="username">Resturant name: </label>
          <input id="username" type="text" name="username">
          </br>
          <label for="password">Password: </label>
          <input id="password" type="text" name="password" >
          </br>
         <label for="password">FirstName: </label>
          <input id ="name" type="text" name="firstName" >
            </br>
          <label for="password">LastName: </label>
          <input id ="lastName" type="text" name="lastName">
            </br>
           <label for="password">Email: </label>
          <input id ="email" type="email" name="email" >
          {{#if message}}
            <div class="error-message">{{ message }}</div>
          {{/if}}
          <br><br>

          <button>Create account</button>

          <p class="account-message">
            Do you already have an account?
            <button ><a class="login" href="/login">Login</a></button>
          </p>
        </form>

</div>