<a href="/">homepage</a>


<!-- views/auth/signup.hbs -->
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Resturant name</label>
  <input id="username" type="text" name="username" placeholder="username">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <input id ="name" type="text" name="firstName" placeholder="first name">
  <input id ="lastName" type="text" name="lastName" placeholder="last name">
  <input id ="email" type="email" name="email" placeholder="your email">
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>