<form action="/mainSite/{{editMainPage.id}}/edit" method="post" enctype="multipart/form-data">
          <label>Resturant name:</label>
          <input type="text" name="nameRestaurant" value="{{editMainPage.username}}">
          <label>description</label>
          <input type="text" name="description"  value="{{editMainPage.description}}">
          <label>image</label>
          <input type ="file" name ="Photo"  value="{{editMainPage.image}}">
          <input type="submit" value="SAVE">
</form>