
<link rel="stylesheet" href="../../../stylesheets/homepage.css" />

{{#if user}}
  <a href="/profile"><button class="btn profile">profile</button></a>
   <a class="welcome" href="restuarant/{{user.username}}">Welcome {{user.username}}</>
 <a href="/logout"><button class="btn logout">Log out</button></a> 
{{else}}
<p class="welcome1" >Welcome...</p>
<a href="/signup"><button class="btn signup"> Sign up </button></a> 
<a href="/login"><button class="btn login">Log In</button></a> 

{{/if}}



