<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NaNa</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

{{!-- <p>Please <a href="/signup"> Sign up </a> !if you already have a account Please <a href="/login">Log in</a></p> --}}
{{!-- <p>Please <a href="/signup"> Sign up </a> !if you already have a account Please <a href="/login">Log in</a></p> --}}

<nav>


{{!-- <a href="/allMenu">All Menu</a>
<a href="/appetizer">Appetizer</a>
<a href="/mainDish">Main dish</a>
<a href="/desserts">Desserts</a>
<a href="/beverages">Beverages</a> --}}




</nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>


