body{
  background: url("../images/Screen\ Shot\ 2019-02-27\ at\ 5.24.32\ PM.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
 }
 .signup , .profile{
   left: 35%;
   padding: 10px;
  
 }
 .signup , .login{
   top:35%;
 }
 .profile, .logout{
   top:35%;
 }
 .login, .logout{
   right: 40%;
   padding: 10px 17px 10px 17px;
  
 }
 .login, .signup, .profile, .logout{
   text-decoration: none;
   position: absolute;
   font-size: 2vw;
   border: 1px solid none;
   border-radius: 5px;
   color: rgb(0, 171, 250)
 
 }
 .login:hover, .signup:hover, .profile:hover, .logout:hover{
   background-color: rgb(0, 171, 250);
   color: white;

 }
 .welcome,.welcome1{
   position: absolute;
   top:20vh;
   font-size: 3vw;
   color: rgb(0, 171, 250)
 }
 .welcome{
  left: 38%;
 }
 .welcome1{
   left: 40%;
 }
 a{
   text-decoration: none;
 }
 
 .btn {
  
   background-color: transparent;
   border-radius: 0.6em;
   font-size: 1rem;
   padding: 1em 2em;
   text-transform: uppercase;
  
 }


@media screen and (max-width:768px){

 .btn{
  background-color: transparent;
  font-size: 15px;
  margin-top: 5%;
 } 

 .login{
   margin-right: 20%;
 }
 .signup{
   margin-left: 20%;
 }

 .welcome1{
   font: 2em sans-serif;
   display: block;
  left: 30%; 
 }
}