* {
  box-sizing: border-box;
}


body{
  background: url('../images/Screen\ Shot\ 2019-02-28\ at\ 3.38.44\ PM.png')no-repeat center center fixed;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:  monospace;
}


.home{

  background-image: url('../images/arrow.png');
 color: brown;
 font-size: 20px;
 text-decoration: none;
 margin: 30px;
 border: 5px solid brown;
 border-radius: 10px;
 line-height: 50px;
}
.welcome{
  float:right;
  font-size: 2vw;
}

.Update{
  font-size: 1.2vw;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  top:40%;
 
}
a{
  text-decoration: none;
  color:white;
}







.boxMenu{
 margin-top: 30%;
  border: 1px solid red;
}

.red-box{

  width:33%;
  float:left;
  height:700px;
}

.w3-card-4{
  background: black;
  height: 500px;
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.w3-center{
  position:absolute;
  bottom:0;
  width:100%;
  text-align: justify;
  background: white;
}
form{
  position: absolute;
  bottom:0;
  left:0;
}
.delete{
  right:0;
  left: 85%;
}

/* 




.welcome h1{
  font-size: 3vw;
}
.welcome p{
  font-size: 2vw;
  top:10%;
}
.resUpdate, .addItemFrom{
  position: absolute;
  left: 10%;
  
}
.addItemFrom h1{
  
  font-family:  monospace;
  font-size: 2vw;

}
.resUpdate{
  font-family:  monospace;
  font-size: 1.2vw;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  top:40%;
}
a{
  text-decoration: none;
  color: white;
}
.addItemFrom{
  top:45%;
 
}
input,select {
  border: 1px solid rgb(135, 167, 187);
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px;
}
select{
  font-size: 15px;
}
.row{
 float: left;
  width: 30%;
  border: 1px solid blue;     
  position: absolute;
  top:70%;
 
  

} */