* {
  box-sizing: border-box;
  font-family:  monospace;
}


body{
  background: url('../images/Screen\ Shot\ 2019-02-28\ at\ 3.38.44\ PM.png')no-repeat center center fixed;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



  .home{
    position: absolute;
    top:5px;
    background-image: url('../images/arrow.png');
   color: brown;
   font-size: 15px;
   text-decoration: none;
   margin: 10px 0 0 30px;
   border: 5px solid brown;
   border-radius: 10px;
   padding: 5px;
   
  }
  .res{
    position: absolute;
    top:5px;
    left:5vw;
    background-image: url('../images/arrow.png');
    color: brown;
    font-size: 15px;
    text-decoration: none;
    margin: 10px 0 0 30px;
    border: 5px solid brown;
    border-radius: 10px;
    padding: 5px;
  }
  

.welcome{
  margin-left: 15px;
  font-size: 3vw;
  margin:15vh;
}
.welcome p, {
  font-size: 3vw;
}
.from-p{
  font-size: 2vw;
}

.from{

margin:10vh

}

.fromPrice{
  margin-left: 30vh;
  margin-top: 5vh;
}

.price{
 width:100px;
}

.Update, .save{

  border-radius: 5px;
  background-color: gray;
  color:white;
  text-align: middle;
 
}
.updateDiv{
  font-size: 20px;
  
}
.updateDiv , .welcome p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a{
  text-decoration: none;
}







.boxMenu{
 margin-top: 30%;
 
}

.red-box{

  width:33%;
  float:left;
  height:700px;
}

.w3-card-4{
  
  height: 400px;
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.w3-center{
  position:absolute;
  bottom:0;
  width:100%;
  text-align: justify;
  background: white;
}
form{
  position: absolute;
  bottom:0;
  left:0;
}
.delete{
  right:0;
  left: 85%;
}
.edit{
  right:0;
  left: 88%;
}








.editFrom{
position: absolute;
top:20vh;
margin: 20vw;

}
